# System de recommandation

## dans cette section je vais preparer la data
- chargement des donnees 
- l'expolration 
- feature and extraction

In [12]:
import pymongo 
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

In [3]:
# je vais connecter a la base de donnee pour charger les donnees des livres et je vais les concater avec autre dataset

In [ ]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["SytemRecommandation"]
mycol = mydb["books"]

In [ ]:
i = 0
books = []
for x in mycol.find({},{'_id':0, 'Genres':0}):
    books.append(x)

In [ ]:
df_books = pd.DataFrame(books,columns=['ID', 'ISBN', 'title', 'author', 'pulisher', 'date_pub', 'count_rating', 'count_review', 'description', 'count_page'])

In [ ]:
df_books

In [18]:
# je vais charger les genres des livres apres je vais concater la data

In [19]:
mycol_ = mydb["genres_book"]

In [50]:
i = 0
genres_books = []
for x in mycol_.find({},{'_id':0}):
    genres_books.append(x)

In [55]:
df_genres_books = pd.DataFrame(genres_books, columns=['book_id', 'genres'])

In [56]:
df_genres_books

          book_id                                             genres
0         1333909  {'fiction': 219, 'history, historical fiction,...
1        34883016                                     {'romance': 3}
2          287149  {'non-fiction': 24, 'history, historical ficti...
3         6066814  {'fiction': 19, 'history, historical fiction, ...
4         6066812  {'fantasy, paranormal': 32, 'young-adult': 8, ...
...           ...                                                ...
2360650   2685097                                    {'romance': 10}
2360651  26168430  {'mystery, thriller, crime': 4, 'children': 1,...
2360652   2342551  {'poetry': 14, 'children': 7, 'young-adult': 1...
2360653  18069148                                     {'romance': 1}
2360654  30244126  {'romance': 80, 'fiction': 82, 'history, histo...

[2360655 rows x 2 columns]

In [ ]:
for i in range(len(df_genres_books['genres'].values)):
    df_genres_books.loc[i, 'genres'] = " ".join(set(list(df_genres_books['genres'][i])))

In [54]:
df_genres_books

          book_id                                             genres
0         1333909     history, historical fiction, biography fiction
1        34883016                                            romance
2          287149  history, historical fiction, biography non-fic...
3         6066814  history, historical fiction, biography fiction...
4         6066812   fantasy, paranormal young-adult children fiction
...           ...                                                ...
2360650   2685097                                    {'romance': 10}
2360651  26168430  {'mystery, thriller, crime': 4, 'children': 1,...
2360652   2342551  {'poetry': 14, 'children': 7, 'young-adult': 1...
2360653  18069148                                     {'romance': 1}
2360654  30244126  {'romance': 80, 'fiction': 82, 'history, histo...

[2360655 rows x 2 columns]